<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
    <h1>Tweet locations</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 col-md-offset-0 widget">
    <div class="map_wrapper">
      <div id="google-map"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-3 col-xs-6">
    <div class="box">
      <div class="description">
        <p><strong>Active Since</strong></p>
        <p><%= @scan.twitter_detail.account_created_at%><p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-bullhorn"></span>
      </div>
      <div class="description">
        <strong><%= @scan.twitter_detail.total_tweets%></strong> Total Tweets
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <div class="description">
        <strong><%= @scan.twitter_detail.followers_count%></strong> Followers
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6 col-sm-offset-3 col-md-offset-0">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-eye-open"></span>
      </div>
      <div class="description">
        Following <strong><%= @scan.twitter_detail.following_count%></strong>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-6">
    <div class="box">
      <div class="icon">
        <span class="glyphicon glyphicon-star"></span>
      </div>
      <div class="description">
        <strong><%= @scan.twitter_detail.favorites_count%></strong> Favorites
      </div>
    </div>
  </div>
</div>