<div class="container-fluid <%=@dashboard_type%>">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar side-nav <%=@dashboard_type%>">
        <li id="summary">
          <a href=<%="/dashboard/#{@scan.id}"%>>Summary
            <div class = "icon">
              <span class="glyphicon glyphicon-home"></span>
            </div>
          </a>
        </li>
        <li id="analytics">
          <a href=<%="/dashboard/#{@scan.id}/analytics"%>>Analytics
            <div class = "icon">
              <span class="glyphicon glyphicon-stats"></span>
            </div>
          </a>
        </li>
        <li id="locations" class="disabled">
          <!-- <a href=<%="/dashboard/#{@scan.id}/locations"%>>Locations -->
          <a name="locations">Locations
            <div class = "icon">
              <span class="glyphicon glyphicon-globe"></span>
            </div>
          </a>
        </li>
        <li id="connections" class="disabled">
          <!-- <a href=<%="/dashboard/#{@scan.id}/connections"%>>Connections -->
          <a name="connections"%>Connections
            <div class = "icon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
          </a>
        </li>
      </ul>
      <% unless @dashboard_type == "summary"%>
      <div class="twitter-sidebar">
        <img class="twitter-profile-pic" src="<%=@scan.twitter_detail.profile_image_url%>" alt="Corbin Page">
        <h4 class="username"><%= @scan.twitter_detail.user_name%></h4>
      </div>
      <%end%>
    </div>
  </div>
  <%= yield %>
</div>