<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sketch Meter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dirty Laundry" %>">
    <%= stylesheet_link_tag "application", media: "all"%>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body role="document" class="background-dark">
    <%= render 'layouts/navigation' %>
    <main role="main" class="container">
       <%= render 'layouts/messages' %>
       <%= controller.sub_layout ? (render :partial => "/layouts/#{controller.sub_layout}") : yield %>
    </main>
      <%= render 'layouts/footer' %>
  </body>
</html>
